.KnownClasses {
    height: 400px;
    overflow-y: scroll;
    padding: 0 30px;
}

.KnownClasses p {
    text-align: left;
}

.animated-height {
    transition-property: height;
    transition-duration: .2s;
}

.Hidden {
    height: 0;
}