.ControlPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
}

.MainButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 120px;
}

.ControlButton {
    width: 200px;
    height: 50px;
    border: none;
}

.ControlPanel .ControlButton {
    background-color: #eee;
}

.AboutButton {
    background-color: transparent;
    color: #999;
    margin: 22px;
}

.FileInput {
    display: none;
}
